In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import csv

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/train.csv",escapechar = "\\", quoting = csv.QUOTE_NONE)

In [ ]:
df.head()

                                               TITLE  ... BROWSE_NODE_ID
0         Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1  The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
2  The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
3   Amway Nutrilite Kids Chewable Iron Tablets (100)  ...              3
4  Teacher Planner Company A4 6 Lesson Academic T...  ...              4

[5 rows x 5 columns]

In [ ]:
df.tail()

                                                     TITLE  ... BROWSE_NODE_ID
2903019  Premium Aviator Sunglasses - HD Polarized (Bri...  ...           1040
2903020  Social Distance Stickers - Set of 5 Sticker Sl...  ...          15199
2903021  Torr-to Face Shield PACK OF 5 with Adjustable ...  ...        1044933
2903022  Type-C to 3.5 MM for Oppo R17 Pro Type-C to 3....  ...          14790
2903023                        KNG Orange Polo Tshirt (38)  ...           1213

[5 rows x 5 columns]

1. EDA perform
2. Pre-processing
3. Feature Importance
stemming,limitization

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2903024 entries, 0 to 2903023
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   TITLE           object
 1   DESCRIPTION     object
 2   BULLET_POINTS   object
 3   BRAND           object
 4   BROWSE_NODE_ID  int64
dtypes: int64(1), object(4)
memory usage: 110.7+ MB

In [ ]:
df.drop_duplicates(keep = False, inplace = True)

In [ ]:
df.shape

(2748496, 5)

In [ ]:
df["TITLE"] = df["TITLE"].str.lower()
df["DESCRIPTION"] = df["DESCRIPTION"].str.lower()
df["BULLET_POINTS"] = df["BULLET_POINTS"].str.lower()

In [ ]:
df.head()

                                               TITLE  ... BROWSE_NODE_ID
0         pete the cat bedtime blues doll, 14.5 inch  ...              0
1  the new yorker nyhm014 refrigerator magnet, 2 ...  ...              1
2  the ultimate self-sufficiency handbook: a comp...  ...              2
3   amway nutrilite kids chewable iron tablets (100)  ...              3
4  teacher planner company a4 6 lesson academic t...  ...              4

[5 rows x 5 columns]

title,description-lowercase,punctuatons remove, numbers remove

In [ ]:
def remove_punctuation(x):
    try:
        x = x.str.replace('[^\w\s]','') 
    except:
        pass
    return x

df = df.apply(remove_punctuation)

In [ ]:
df.head()

                                               TITLE  ... BROWSE_NODE_ID
0           pete the cat bedtime blues doll 145 inch  ...              0
1  the new yorker nyhm014 refrigerator magnet 2 x 35  ...              1
2  the ultimate selfsufficiency handbook a comple...  ...              2
3     amway nutrilite kids chewable iron tablets 100  ...              3
4  teacher planner company a4 6 lesson academic t...  ...              4

[5 rows x 5 columns]

In [ ]:
nums = ['0','1','2','3','4','5','6','7','8','9']
for char in nums:
    df['TITLE'] = df['TITLE'].str.replace(char, ' ')

AttributeError: ignored